*.Rproj.user
*.Rhistory
*.Ruserdata
*.Rproj
*.DS_Store
ANALYSIS/DATA/audio
ANALYSIS/RESULTS/social networks model/real_model.RData
ANALYSIS/RESULTS/social networks model/sim_model.RData
ANALYSIS/RESULTS/social networks model/sim_dat.RData
ANALYSIS/RESULTS/spcc/models
.Rproj.user
Rplots.pdf
*m_list.RData
DOCUMENTS